<% layout('layouts/boilerplate') %>
<h2>Update Campground</h2>

<form action="/campgrounds/<%= campground.id %>?_method=PUT " method="POST" novalidate class="validated-form">
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <input type="text" class="form-control" aria-label="First name" id="title" name="campground[title]"
                value="<%= campground.title %>" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="location class=" class="col-sm-2 col-form-label">Location</label>
            <input type="text" class="form-control" aria-label="Last name" name="campground[location]"
                value="<%= campground.location %>" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="image" class="col-sm-2 col-form-label">Image Url</label>
            <input type="text" class="form-control" id="image" name="campground[image]" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <textarea type="text" class="form-control" id="description" name="campground[description]"
                required></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="price" class="col-form-label">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" id="price" name="campground[price]" placeholder="0.00" required>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Campground</button>
</form>
<br>
<a href="/campgrounds/<%= campground.id %> ">Back to Campground</a>