<% layout('layouts/boilerplate') %>
<h2>Update Campground</h2>

<form action="/campgrounds/<%= campground.id %>?_method=PUT " method="POST">
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <input type="text" class="form-control" aria-label="First name" id="title" name="campground[title]"
                value="<%= campground.title %>">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <label for="location class=" class="col-sm-2 col-form-label">Location</label>
            <input type="text" class="form-control" aria-label="Last name" name="campground[location]"
                value="<%= campground.location %> ">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Campground</button>
</form>
<br>
<a href="/campgrounds/<%= campground.id %> ">Back to Campground</a>